:root
    --main-color: red
    --hover-color: blue

#app-mount
    background-image: url(https://i.imgur.com/hBlNQnE.jpg)
    background-repeat: no-repeat
    background-size: cover
    transparent()
    


