// put helpful mixins in here

transparent()
    background-color: transparent !important

tags(id, name, bgcolor, textcolor)
    .message-group .avatar-large[style*={id}] ~ .comment .username-wrapper::after
        background-color: bgcolor
        color: textcolor
        content: name

