// plugin styling

// read all / public servers button
#RANbutton-frame,
#bd-pub-li
    height: 50px !important
    .guild-inner
        transition: all linear .1s
        border-radius: $round !important
        height: 50px !important
        background-color: $main
        &:hover
            border-radius: $roundh !important
        a
            padding-top: 5px
            transition: all linear .1s
            &:hover
                background-color: $accent !important
#RANbutton
    font-size: 0.8em !important
    text-transform: uppercase

#bd-pub-button
    text-transform: uppercase
    font-size: 0.8em !important
    line-height: 40px !important;