// plugin styling

// read all
#RANbutton-frame
    height: 50px !important;
    .guild-inner
        transition: all linear .1s
        border-radius: 50% !important
        height: 50px !important
        &:hover
            border-radius: 15px !important
        a
            padding-top: 5px
            transition: all linear .1s
            &:hover
                background-color: rgb(114, 137, 218) !important
    #RANbutton
        font-size: 0.8em !important
        text-transform: uppercase