#RANbutton-frame {
  height: 50px !important; }
  #RANbutton-frame .guild-inner {
    -webkit-transition: all linear .1s;
    -o-transition: all linear .1s;
    transition: all linear .1s;
    border-radius: 50% !important;
    height: 50px !important; }
    #RANbutton-frame .guild-inner:hover {
      border-radius: 15px !important; }
  #RANbutton-frame #RANbutton {
    font-size: 0.8em !important;
    text-transform: uppercase;
    margin-top: 5px; }

.guilds .guild.guilds-add {
  border-style: solid; }

.wordmark-2L03Wr {
  opacity: 1; }
  .wordmark-2L03Wr svg {
    display: none; }
  .wordmark-2L03Wr::after {
    content: 'Default theme';
    font-size: 18px;
    color: #eee;
    font-family: inherit;
    pointer-events: none;
    text-transform: uppercase; }
